version: '3.8'

services:
  web-api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: be-strong-api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
    volumes:
      - ./DotNetCrudWebApi/Data:/app/data